html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/*fdfdsfdsf*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#banner {
  width: 980px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  position: relative;

  & img {
      display: block;
      object-fit: cover;
      animation: slide 6s cubic-bezier(.86, 0, .07, 1) infinite alternate;
  }
}
#banner-heading{
  position: absolute;
  inset: 30% 20%;
  & h1{
      color: #fff;
      font-size: 80px;
  }

}

@keyframes slide {
  0% {
      transform: translateX(0);
  }

  100% {
      transform: translateX(-100%);
  }

}
