@{
ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!-- <h1 class="display-1">Hoş Geldiniz</h1> -->
    <h1> ㅤㅤㅤㅤㅤㅤ </h1>
    <!-- <img width="80%" height="80%"  src="/images/pexels.jpg" > -->

    <div id="banner" class="d-flex">
        <img src="/images/slide1.jpg" alt="">
        <img src="/images/slide2.jpg" alt="">
        <div id="banner-heading">
            <h1>Hoş Geldiniz</h1>
        </div>
    </div>

</div>


